.has-discount {
    text-decoration: line-through;
    color:firebrick;
}
.card {
    position:relative;
}
.new {
    position:absolute;
    top: 10px;
    left: 10px;
}
.heart:hover {
    color: red;
}
.heart {
    cursor: pointer;
}